body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  background-color: rgb(73, 119, 212);
  color: white;
  font-family:'Optima', sans-serif;
  padding: 20px;
  text-align: center;
}

nav {
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(73, 119, 212);
  color: white;
  border-radius: 4px;
  margin: 0 10px;
  font-family:'Optima', sans-serif;
}

nav a:hover {
  background-color: rgb(73, 108, 212);

}

main {
  padding: 20px;
}

section {
  background-color: rgb(240, 240, 233);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family:'Optima', sans-serif;
  margin-bottom: 20px;
}

section h2 {
  margin-top: 0;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

#welcome {
  display: inline-block;
  padding: 10px;
  margin: 5px;
}

#calculator {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#calculations {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
}

#Saved_data {
  flex: 1;
  padding: 20px;

  border-radius: 8px;
}

.container_with_saving_data {
  margin-bottom: 15px;
}
